# Ignore all JavaScript files by default
*.js
!jest.config.js
# Explicitly include the Lambda handler file
!lambda/index.js

*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.idea/